fastapi==0.115.0
uvicorn==0.30.6
PyYAML==6.0.2
python-multipart==0.0.9
pydantic==2.8.2
starlette==0.38.2
jinja2==3.1.4
markdown-it-py==3.0.0
pygments==2.18.0
aiofiles==23.2.1
orjson==3.10.7
colorama==0.4.6
pdfkit==1.0.0
weasyprint==52.5
pydyf==0.5.0
passlib[bcrypt]==1.7.4
bcrypt==4.0.1
PyJWT==2.9.0
itsdangerous
playwright>=1.40
Markdown==3.6
mkdocs-pdf-export-plugin==0.5.10
mkdocs-material
mkdocs-awesome-pages-plugin
pymdown-extensions==10.14.3
filelock>=3.13

